
  #playlist-container
    // display: flex
    // flex-direction: column
    background-color: #353535
    align-items: center
    // width: 30%
    // width: 500px
    height: 90vh
    margin: 10px
    // border: 3px solid grey
    border-radius: 8px

    button
      margin: 10px

    .playlist-card
      background-color: #222222
      display: flex
      justify-content: space-between
      width: 95%
      height: 60px
      margin: 10px auto
      // border: 1px solid white
      border-radius: 8px
      font-size: 1em
      // inline-size: 300px
      // text-wrap: nowrap
      // overflow: hidden

      .cover-art
        height: 100%
        width: auto
        aspect-ratio: 1
        border-radius: 8px
        &:hover
          // opacity: 0.2

      .play
        height: 58px
        width: 60px
        position: relative
        z-index: 1
        top: -10px
        left: -66px
        border: none
        border-radius: 8px
        font-size: 1em
        // top: 50%
        // left: 50%
        // transform: translate(-50%, -50%)
        opacity: 0
        transition: opacity 0.3s ease
        // cursor: pointer
        &:hover
          opacity: 0.9

      .playlist-info
        // width: 250px
        // max-width: 290px
        // width: 70%
        // max-width: 200px
        inline-size: 260px
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        text-align: left
        position: relative
        left: -55px
        span
          // width: 100px
          text-wrap: nowrap
          overflow: hidden
          margin-right: 10px
          .bio
            font-size: 0.8em
            min-width: 200px
