
  .playlist
    // background-color: #343434
    display: flex
    flex-direction: column
    // align-items: center
    width: 400px
    height: 720px
    // margin: 0 auto
    // border: 1px solid grey
    border-radius: 8px

    overflow-y: auto
    position: relative
    // gap: 1rem

    // scrollbar-width: thin
    // scrollbar-color: #555 #111

    // &::-webkit-scrollbar
    //   width: 8px

    // &::-webkit-scrollbar-thumb
    //   background-color: #555
    //   border-radius: 4px

    // &::-webkit-scrollbar-track
    //   background-color: #111

    .hidden-list-full
      // display: none
      // position: absolute

    .visible-list
      position: absolute
      // left: 0
      // right: 0

      .track
        background-color: #101010
        display: flex
        justify-content: space-between
        width: 95%
        height: 50px
        margin: 5px 5px
        // padding: 5px 0
        // border: 1px solid white
        border-radius: 8px
        font-size: 0.7em
        // inline-size: 300px
        // text-wrap: nowrap
        // overflow: hidden

        .cover-art
          height: 100%
          width: auto
          aspect-ratio: 1
          border-radius: 8px
          &:hover
            // opacity: 0.2

        .play
          height: 50px
          width: 50px
          position: relative
          z-index: 1
          top: -10px
          left: -60px
          border: none
          border-radius: 8px
          font-size: 1.5em
          // top: 50%
          // left: 50%
          // transform: translate(-50%, -50%)
          opacity: 0
          transition: opacity 0.3s ease
          // cursor: pointer
          &:hover
            opacity: 0.9

        .track-info
          width: 70%
          max-width: 200px
          inline-size: 300px
          // height: 2em
          display: flex
          justify-content: space-evenly
          flex-wrap: wrap
          text-align: left
          position: relative
          left: -55px
          span
            width: 70px
            text-wrap: nowrap
            overflow: hidden

        .duration
          height: 100%
          width: 50px
          line-height: 55px
